* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  body{
  background-image: linear-gradient(rgba(24, 38, 94, 0.7),rgba(24, 38, 94, 0.7)),url(/img/Beetlejuice-1988-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  }
  
  /* header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./img/гл.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  } */
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
  }
  
  nav img {
    width: 100px;
    padding: 0;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 4px 12px 12px;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }

  
  nav .fas {
    display: none;
  }
  
  /* @media(max-width: 700px) {
    .text-box h1 {
      font-size: 20px;
    }
    .nav-links ul li {
      display: block;
    }
    .nav-links {
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      z-index: 2;
      text-align: left;
      transition: 1s;
    }
    nav .fas {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
    }
    .nav-links ul {
      padding: 30px;
    }
  } */

  /* roli */
  /* .fakultet{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: auto;
    margin-top: 100px;
    padding: 10px;
  
  
  }
  
  .fakultets-col{
    flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin-left: 30px;
  }
  .layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
  }
  .layer:hover {
    background: rgba(49, 92, 235, 0.7);
  }
  .layer h3 {
    text-transform: uppercase;
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
  }
  .layer:hover h3 {
    bottom: 49%;
    opacity: 1;
  }
  .layer p {
    text-transform: uppercase;
    width: 100%;
    font-weight: 500;
    
    font-size: 26px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
  }
  .layer:hover p {
    bottom: 60%;
    opacity: 1;
  }
  
  .fakultets-col img{
    width: 100%;
  height: 100%;
  }
  .fakultet p{
  padding: 0;
  color:#fff;
  }
 
  .fakultet h1{
    margin: 10px 0 10px;
    color:#fff;
    }
    

  .row{
   display: flex;
   flex-direction: row;
 
   }
   
  
  /* end roli */
  /* @media (max-width:700px) {
    .fakultets-col img{
      height: 40px;
      margin: 0 15px 0 0;
      width: 25%;
   
      border-radius: 10px;
    }
    
  }
  
  @media (max-width:700px) {
    .row {
      flex-direction: none;
      flex: 100%;
    }
  } */ 


  h1{
    text-align: center;
    color: #fff;
  }
  p{
    text-align: center;
    color: #fff;
  }



  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
@media (max-width: 700px){
    .row {
    flex-direction: column;}
}



  .campus {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
  }
  
  .campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  .campus-col img {
    width: 100%;
    height: 100%;
  }
  
  .layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
  }
  .layer:hover {
    background: rgba(122, 185, 243, 0.7);
  }
  .layer h3 {
    text-transform: uppercase;
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
  }
  
  .layer:hover h3 {
    bottom: 49%;
    opacity: 1;
  }
  

/* три штучки */
  nav .fas {
    display: none;
  }


  
  @media(max-width: 700px) {
    .text-box h1 {
      font-size: 20px;
    }
    .nav-links ul li {
      display: block;
    }
    .nav-links {
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      z-index: 2;
      text-align: left;
      transition: 1s;
    }
    nav .fas {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
    }
    .nav-links ul {
      padding: 30px;
    }
  }
  /* коенц трех штучек */